In [1]:
#读取文件，相对路径，文件名

In [105]:
import pandas
food_info = pandas.read_csv("food_info.csv")
print(type(food_info))#在numpy中是ndarray结构，在pandas中是dataframe结构。

<class 'pandas.core.frame.DataFrame'>

In [106]:
print(food_info.dtypes)#object和numpy中string意思一样 字符值

NDB_No               int64
Shrt_Desc           object
Water_(g)          float64
Energ_Kcal           int64
Protein_(g)        float64
Lipid_Tot_(g)      float64
Ash_(g)            float64
Carbohydrt_(g)     float64
Fiber_TD_(g)       float64
Sugar_Tot_(g)      float64
Calcium_(mg)       float64
Iron_(mg)          float64
Magnesium_(mg)     float64
Phosphorus_(mg)    float64
Potassium_(mg)     float64
Sodium_(mg)        float64
Zinc_(mg)          float64
Copper_(mg)        float64
Manganese_(mg)     float64
Selenium_(mcg)     float64
Vit_C_(mg)         float64
Thiamin_(mg)       float64
Riboflavin_(mg)    float64
Niacin_(mg)        float64
Vit_B6_(mg)        float64
Vit_B12_(mcg)      float64
Vit_A_IU           float64
Vit_A_RAE          float64
Vit_E_(mg)         float64
Vit_D_mcg          float64
Vit_D_IU           float64
Vit_K_(mcg)        float64
FA_Sat_(g)         float64
FA_Mono_(g)        float64
FA_Poly_(g)        float64
Cholestrl_(mg)     float64
dtype: object

In [107]:
#把csv文件读进来

In [108]:
print(help(pandas.read_csv))

Help on function read_csv in module pandas.io.parsers:

read_csv(filepath_or_buffer: Union[str, pathlib.Path, IO[~AnyStr]], sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression='infer', thousands=None, decimal: str = '.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, dialect=None, error_bad_lines=True, warn_bad_lines=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None)
    Read a comma-separated values (csv) file into DataFrame.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts any ``os.PathLike``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handler (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, default ``None``
        Alias for sep.
    header : int, list of int, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : array-like, optional
        List of column names to use. If the file contains a header row,
        then you should explicitly pass ``header=0`` to override the column names.
        Duplicates in this list are not allowed.
    index_col : int, str, sequence of int / str, or False, default ``None``
      Column(s) to use as the row labels of the ``DataFrame``, either given as
      string name or column index. If a sequence of int / str is given, a
      MultiIndex is used.

      Note: ``index_col=False`` can be used to force pandas to *not* use the first
      column as the index, e.g. when you have a malformed file with delimiters at
      the end of each line.
    usecols : list-like or callable, optional
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). For example, a valid list-like
        `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    squeeze : bool, default False
        If the parsed data only contains one column then return a Series.
    prefix : str, optional
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
    mangle_dupe_cols : bool, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, optional
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
        'c': 'Int64'}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python'}, optional
        Parser engine to use. The C engine is faster while the python engine is
        currently more feature-complete.
    converters : dict, optional
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels.
    true_values : list, optional
        Values to consider as True.
    false_values : list, optional
        Values to consider as False.
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : list-like, int or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c').
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : scalar, str, list-like, or dict, optional
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'n/a',
        'nan', 'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    skip_blank_lines : bool, default True
        If True, skip over blank lines rather than interpreting as NaN values.
    parse_dates : bool or list of int or names or list of lists or dict, default False
        The behavior is as follows:

        * boolean. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index cannot be represented as an array of datetimes,
        say because of an unparseable value or a mixture of timezones, the column
        or index will be returned unaltered as an object data type. For
        non-standard datetime parsing, use ``pd.to_datetime`` after
        ``pd.read_csv``. To parse an index or column with a mixture of timezones,
        specify ``date_parser`` to be a partially-applied
        :func:`pandas.to_datetime` with ``utc=True``. See
        :ref:`io.csv.mixed_timezones` for more.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : bool, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    cache_dates : bool, default True
        If True, use a cache of unique, converted dates to apply the datetime
        conversion. May produce significant speed-up when parsing duplicate
        date strings, especially ones with timezone offsets.

        .. versionadded:: 0.25.0
    iterator : bool, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, optional
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.
    compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and
        `filepath_or_buffer` is path-like, then detect compression from the
        following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
        decompression). If using 'zip', the ZIP file must contain only one data
        file to be read in. Set to None for no decompression.
    thousands : str, optional
        Thousands separator.
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    lineterminator : str (length 1), optional
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : bool, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        One-character string used to escape other characters.
    comment : str, optional
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, optional
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .
    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    error_bad_lines : bool, default True
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will dropped from the DataFrame that is
        returned.
    warn_bad_lines : bool, default True
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.
    delim_whitespace : bool, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.
    low_memory : bool, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser).
    memory_map : bool, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.
    float_precision : str, optional
        Specifies which converter the C engine should use for floating-point
        values. The options are `None` for the ordinary converter,
        `high` for the high-precision converter, and `round_trip` for the
        round-trip converter.

    Returns
    -------
    DataFrame or TextParser
        A comma-separated values (csv) file is returned as two-dimensional
        data structure with labeled axes.

    See Also
    --------
    to_csv : Write DataFrame to a comma-separated values (csv) file.
    read_csv : Read a comma-separated values (csv) file into DataFrame.
    read_fwf : Read a table of fixed-width formatted lines into DataFrame.

    Examples
    --------
    >>> pd.read_csv('data.csv')  # doctest: +SKIP

None

In [109]:
#显示头部数据

In [110]:
food_info.head()

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
0,1001,BUTTER WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,2499.0,684.0,2.32,1.5,60.0,7.0,51.368,21.021,3.043,215.0
1,1002,BUTTER WHIPPED WITH SALT,15.87,717,0.85,81.11,2.11,0.06,0.0,0.06,...,2499.0,684.0,2.32,1.5,60.0,7.0,50.489,23.426,3.012,219.0
2,1003,BUTTER OIL ANHYDROUS,0.24,876,0.28,99.48,0.00,0.00,0.0,0.00,...,3069.0,840.0,2.80,1.8,73.0,8.6,61.924,28.732,3.694,256.0
3,1004,CHEESE BLUE,42.41,353,21.40,28.74,5.11,2.34,0.0,0.50,...,721.0,198.0,0.25,0.5,21.0,2.4,18.669,7.778,0.800,75.0
4,1005,CHEESE BRICK,41.11,371,23.24,29.68,3.18,2.79,0.0,0.51,...,1080.0,292.0,0.26,0.5,22.0,2.5,18.764,8.598,0.784,94.0

In [111]:
#显示尾部几行

In [112]:
food_info.tail(3)

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
8615,90480,SYRUP CANE,26.0,269,0.0,0.0,0.86,73.14,0.0,73.2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000,0.000,0.000,0.0
8616,90560,SNAIL RAW,79.2,90,16.1,1.4,1.30,2.00,0.0,0.0,...,100.0,30.0,5.0,0.0,0.0,0.1,0.361,0.259,0.252,50.0
8617,93600,TURTLE GREEN RAW,78.5,89,19.8,0.5,1.20,0.00,0.0,0.0,...,100.0,30.0,0.5,0.0,0.0,0.1,0.127,0.088,0.170,50.0

In [113]:
#显示每一列的指标，列名

In [114]:
print(food_info.columns)

Index(['NDB_No', 'Shrt_Desc', 'Water_(g)', 'Energ_Kcal', 'Protein_(g)',
       'Lipid_Tot_(g)', 'Ash_(g)', 'Carbohydrt_(g)', 'Fiber_TD_(g)',
       'Sugar_Tot_(g)', 'Calcium_(mg)', 'Iron_(mg)', 'Magnesium_(mg)',
       'Phosphorus_(mg)', 'Potassium_(mg)', 'Sodium_(mg)', 'Zinc_(mg)',
       'Copper_(mg)', 'Manganese_(mg)', 'Selenium_(mcg)', 'Vit_C_(mg)',
       'Thiamin_(mg)', 'Riboflavin_(mg)', 'Niacin_(mg)', 'Vit_B6_(mg)',
       'Vit_B12_(mcg)', 'Vit_A_IU', 'Vit_A_RAE', 'Vit_E_(mg)', 'Vit_D_mcg',
       'Vit_D_IU', 'Vit_K_(mcg)', 'FA_Sat_(g)', 'FA_Mono_(g)', 'FA_Poly_(g)',
       'Cholestrl_(mg)'],
      dtype='object')

In [115]:
print(food_info.shape)

(8618, 36)

In [116]:
#取数据不像python或者numpy指定索引,pandas中通过loc函数调取数据,如下调取第一行数据

In [117]:
print(food_info.loc[0])

NDB_No                         1001
Shrt_Desc          BUTTER WITH SALT
Water_(g)                     15.87
Energ_Kcal                      717
Protein_(g)                    0.85
Lipid_Tot_(g)                 81.11
Ash_(g)                        2.11
Carbohydrt_(g)                 0.06
Fiber_TD_(g)                      0
Sugar_Tot_(g)                  0.06
Calcium_(mg)                     24
Iron_(mg)                      0.02
Magnesium_(mg)                    2
Phosphorus_(mg)                  24
Potassium_(mg)                   24
Sodium_(mg)                     643
Zinc_(mg)                      0.09
Copper_(mg)                       0
Manganese_(mg)                    0
Selenium_(mcg)                    1
Vit_C_(mg)                        0
Thiamin_(mg)                  0.005
Riboflavin_(mg)               0.034
Niacin_(mg)                   0.042
Vit_B6_(mg)                   0.003
Vit_B12_(mcg)                  0.17
Vit_A_IU                       2499
Vit_A_RAE                       684
Vit_E_(mg)                     2.32
Vit_D_mcg                       1.5
Vit_D_IU                         60
Vit_K_(mcg)                       7
FA_Sat_(g)                   51.368
FA_Mono_(g)                  21.021
FA_Poly_(g)                   3.043
Cholestrl_(mg)                  215
Name: 0, dtype: object

In [118]:
print(food_info.loc[3:6])#调取的是3456行数据

   NDB_No         Shrt_Desc  Water_(g)  Energ_Kcal  Protein_(g)  \
3    1004       CHEESE BLUE      42.41         353        21.40
4    1005      CHEESE BRICK      41.11         371        23.24
5    1006       CHEESE BRIE      48.42         334        20.75
6    1007  CHEESE CAMEMBERT      51.80         300        19.80

   Lipid_Tot_(g)  Ash_(g)  Carbohydrt_(g)  Fiber_TD_(g)  Sugar_Tot_(g)  ...  \
3          28.74     5.11            2.34           0.0           0.50  ...
4          29.68     3.18            2.79           0.0           0.51  ...
5          27.68     2.70            0.45           0.0           0.45  ...
6          24.26     3.68            0.46           0.0           0.46  ...

   Vit_A_IU  Vit_A_RAE  Vit_E_(mg)  Vit_D_mcg  Vit_D_IU  Vit_K_(mcg)  \
3     721.0      198.0        0.25        0.5      21.0          2.4
4    1080.0      292.0        0.26        0.5      22.0          2.5
5     592.0      174.0        0.24        0.5      20.0          2.3
6     820.0      241.0        0.21        0.4      18.0          2.0

   FA_Sat_(g)  FA_Mono_(g)  FA_Poly_(g)  Cholestrl_(mg)
3      18.669        7.778        0.800            75.0
4      18.764        8.598        0.784            94.0
5      17.410        8.013        0.826           100.0
6      15.259        7.023        0.724            72.0

[4 rows x 36 columns]

In [119]:
two_five_ten = [2,5,10]#调取的是第二，五，十行数据
print(food_info.loc[two_five_ten])

    NDB_No             Shrt_Desc  Water_(g)  Energ_Kcal  Protein_(g)  \
2     1003  BUTTER OIL ANHYDROUS       0.24         876         0.28
5     1006           CHEESE BRIE      48.42         334        20.75
10    1011          CHEESE COLBY      38.20         394        23.76

    Lipid_Tot_(g)  Ash_(g)  Carbohydrt_(g)  Fiber_TD_(g)  Sugar_Tot_(g)  ...  \
2           99.48     0.00            0.00           0.0           0.00  ...
5           27.68     2.70            0.45           0.0           0.45  ...
10          32.11     3.36            2.57           0.0           0.52  ...

    Vit_A_IU  Vit_A_RAE  Vit_E_(mg)  Vit_D_mcg  Vit_D_IU  Vit_K_(mcg)  \
2     3069.0      840.0        2.80        1.8      73.0          8.6
5      592.0      174.0        0.24        0.5      20.0          2.3
10     994.0      264.0        0.28        0.6      24.0          2.7

    FA_Sat_(g)  FA_Mono_(g)  FA_Poly_(g)  Cholestrl_(mg)
2       61.924       28.732        3.694           256.0
5       17.410        8.013        0.826           100.0
10      20.218        9.280        0.953            95.0

[3 rows x 36 columns]

In [120]:
print(food_info.loc[[3,5,20]])#第二种method调取数据

    NDB_No       Shrt_Desc  Water_(g)  Energ_Kcal  Protein_(g)  Lipid_Tot_(g)  \
3     1004     CHEESE BLUE      42.41         353        21.40          28.74
5     1006     CHEESE BRIE      48.42         334        20.75          27.68
20    1021  CHEESE GJETOST      13.44         466         9.65          29.51

    Ash_(g)  Carbohydrt_(g)  Fiber_TD_(g)  Sugar_Tot_(g)  ...  Vit_A_IU  \
3      5.11            2.34           0.0           0.50  ...     721.0
5      2.70            0.45           0.0           0.45  ...     592.0
20     4.75           42.65           0.0            NaN  ...    1113.0

    Vit_A_RAE  Vit_E_(mg)  Vit_D_mcg  Vit_D_IU  Vit_K_(mcg)  FA_Sat_(g)  \
3       198.0        0.25        0.5      21.0          2.4      18.669
5       174.0        0.24        0.5      20.0          2.3      17.410
20      334.0         NaN        NaN       NaN          NaN      19.160

    FA_Mono_(g)  FA_Poly_(g)  Cholestrl_(mg)
3         7.778        0.800            75.0
5         8.013        0.826           100.0
20        7.879        0.938            94.0

[3 rows x 36 columns]

In [121]:
#一列一列取数据，通过列名定位

In [122]:
ndb_col = food_info["NDB_No"]
print(ndb_col)

0        1001
1        1002
2        1003
3        1004
4        1005
        ...
8613    83110
8614    90240
8615    90480
8616    90560
8617    93600
Name: NDB_No, Length: 8618, dtype: int64

In [123]:
#可以通过string值查询列

In [124]:
col_name = "NDB_No"
ndb_col = food_info[col_name]
print(ndb_col)

0        1001
1        1002
2        1003
3        1004
4        1005
        ...
8613    83110
8614    90240
8615    90480
8616    90560
8617    93600
Name: NDB_No, Length: 8618, dtype: int64

In [125]:
#定位两个列

In [126]:
columns = ["Zinc_(mg)","Copper_(mg)"]
zin_copper = food_info[columns]
print(zin_copper)

      Zinc_(mg)  Copper_(mg)
0          0.09        0.000
1          0.05        0.016
2          0.01        0.001
3          2.66        0.040
4          2.60        0.024
...         ...          ...
8613       1.10        0.100
8614       1.55        0.033
8615       0.19        0.020
8616       1.00        0.400
8617       1.00        0.250

[8618 rows x 2 columns]

In [127]:
#第二种

In [128]:
zin_copper = food_info[["Zinc_(mg)","Copper_(mg)"]]
print(zin_copper)

      Zinc_(mg)  Copper_(mg)
0          0.09        0.000
1          0.05        0.016
2          0.01        0.001
3          2.66        0.040
4          2.60        0.024
...         ...          ...
8613       1.10        0.100
8614       1.55        0.033
8615       0.19        0.020
8616       1.00        0.400
8617       1.00        0.250

[8618 rows x 2 columns]

In [129]:
#查询哪些列名中以g为单位的数据，先查看列名，生成list

In [130]:
col_names = food_info.columns.tolist()
print(col_names)

['NDB_No', 'Shrt_Desc', 'Water_(g)', 'Energ_Kcal', 'Protein_(g)', 'Lipid_Tot_(g)', 'Ash_(g)', 'Carbohydrt_(g)', 'Fiber_TD_(g)', 'Sugar_Tot_(g)', 'Calcium_(mg)', 'Iron_(mg)', 'Magnesium_(mg)', 'Phosphorus_(mg)', 'Potassium_(mg)', 'Sodium_(mg)', 'Zinc_(mg)', 'Copper_(mg)', 'Manganese_(mg)', 'Selenium_(mcg)', 'Vit_C_(mg)', 'Thiamin_(mg)', 'Riboflavin_(mg)', 'Niacin_(mg)', 'Vit_B6_(mg)', 'Vit_B12_(mcg)', 'Vit_A_IU', 'Vit_A_RAE', 'Vit_E_(mg)', 'Vit_D_mcg', 'Vit_D_IU', 'Vit_K_(mcg)', 'FA_Sat_(g)', 'FA_Mono_(g)', 'FA_Poly_(g)', 'Cholestrl_(mg)']

In [131]:
g_columns = []
for c in col_names:
    if c.endswith("(g)"):
        g_columns.append(c)
print(food_info[g_columns].head(3))

   Water_(g)  Protein_(g)  Lipid_Tot_(g)  Ash_(g)  Carbohydrt_(g)  \
0      15.87         0.85          81.11     2.11            0.06
1      15.87         0.85          81.11     2.11            0.06
2       0.24         0.28          99.48     0.00            0.00

   Fiber_TD_(g)  Sugar_Tot_(g)  FA_Sat_(g)  FA_Mono_(g)  FA_Poly_(g)
0           0.0           0.06      51.368       21.021        3.043
1           0.0           0.06      50.489       23.426        3.012
2           0.0           0.00      61.924       28.732        3.694

In [132]:
#在pandas中进行加减乘除操作；例如将mg单位换成g单位；

In [133]:
print(food_info["Iron_(mg)"])

0       0.02
1       0.16
2       0.00
3       0.31
4       0.43
        ...
8613    1.40
8614    0.58
8615    3.60
8616    3.50
8617    1.40
Name: Iron_(mg), Length: 8618, dtype: float64

In [134]:
div_1000=food_info["Iron_(mg)"]/1000#将整个列的每个数据都除1000
print(div_1000)

0       0.00002
1       0.00016
2       0.00000
3       0.00031
4       0.00043
         ...
8613    0.00140
8614    0.00058
8615    0.00360
8616    0.00350
8617    0.00140
Name: Iron_(mg), Length: 8618, dtype: float64

In [135]:
#对两个列进行组合

In [136]:
water_energy=food_info["Water_(g)"]*food_info["Energ_Kcal"]#对应位置相乘

In [137]:
#往原来的dataframe里多加一列

In [138]:
iron_g=food_info["Iron_(mg)"]/1000
print(food_info.shape)
food_info["Iron_(g)"]=iron_g#首先iron_g是对原来mg/1000后的g为新的一列，并多加的这一列为Iron_(g)
print(food_info.shape)

(8618, 36)
(8618, 37)

In [139]:
#Score=2x(protein_(g))-0.75x(Lipid_Tot_(g))
weighted_protein = food_info["Protein_(g)"]*2
weighted_fat = -0.75*food_info["Lipid_Tot_(g)"]
initial_rating = weighted_protein +weighted_fat
print(initial_rating)

0      -59.1325
1      -59.1325
2      -74.0500
3       21.2450
4       24.2200
         ...
8613    18.1750
8614    40.4500
8615     0.0000
8616    31.1500
8617    39.2250
Length: 8618, dtype: float64

In [140]:
#最大值.max()

In [141]:
max_calories = food_info["Energ_Kcal"].max()
print(max_calories)

902

In [142]:
#归一化操作，让每一个元素都除上最大值

In [143]:
normalized_calories=food_info["Energ_Kcal"]/max_calories
print(normalized_calories)

0       0.794900
1       0.794900
2       0.971175
3       0.391353
4       0.411308
          ...
8613    0.338137
8614    0.123060
8615    0.298226
8616    0.099778
8617    0.098670
Name: Energ_Kcal, Length: 8618, dtype: float64

In [144]:
normalized_protein = food_info["Protein_(g)"]/food_info["Protein_(g)"].max()
normalized_fat = food_info["Lipid_Tot_(g)"]/food_info["Lipid_Tot_(g)"].max()
food_info["Normalized_Protein"]=normalized_protein
food_info["Normalized_Fat"]=normalized_fat

In [145]:
#排序操作sort_values默认从小到大升序NaN为缺失值，制定一个列，按照某个列进行排序

In [146]:
print(food_info.shape)

(8618, 39)

In [147]:
food_info.sort_values("Sodium_(mg)",inplace=True)
print(food_info["Sodium_(mg)"])

760     0.0
758     0.0
405     0.0
761     0.0
2269    0.0
       ...
8184    NaN
8185    NaN
8195    NaN
8251    NaN
8267    NaN
Name: Sodium_(mg), Length: 8618, dtype: float64

In [148]:
#降序

In [149]:
food_info.sort_values("Sodium_(mg)",inplace=True,ascending=False)
print(food_info["Sodium_(mg)"])

276     38758.0
5814    27360.0
6192    26050.0
1242    26000.0
1245    24000.0
         ...
8184        NaN
8185        NaN
8195        NaN
8251        NaN
8267        NaN
Name: Sodium_(mg), Length: 8618, dtype: float64

In [150]:
import numpy as np
import pandas as pd
titanic_survival = pd.read_csv("titanic_train.csv")
titanic_survival.head()#survived只有0和1两个值，标签值，分类任务

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [151]:
#定位 Age这一列

In [152]:
age = titanic_survival["Age"]
print(age.loc[0:10])

0     22.0
1     38.0
2     26.0
3     35.0
4     35.0
5      NaN
6     54.0
7      2.0
8     27.0
9     14.0
10     4.0
Name: Age, dtype: float64

In [153]:
#判断缺失值

In [154]:
ageisnull=pd.isnull(age)
print(ageisnull)#缺失值的结果是true，反之亦然

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888     True
889    False
890    False
Name: Age, Length: 891, dtype: bool

In [155]:
#把true/false当成是索引，结果为true的值留下

In [156]:
agenulltrue=age[ageisnull]
print(agenulltrue)

5     NaN
17    NaN
19    NaN
26    NaN
28    NaN
       ..
859   NaN
863   NaN
868   NaN
878   NaN
888   NaN
Name: Age, Length: 177, dtype: float64

In [157]:
#缺失值数量,len函数

In [158]:
agenullcount = len(agenulltrue)
print(agenullcount)

177

In [159]:
#求平均年龄sum/len

In [160]:
mean_age=sum(titanic_survival["Age"])/len(titanic_survival["Age"])
print(mean_age)#数据中有缺失值

nan

In [161]:
#在计算均值前过滤缺失值

In [162]:
good_ages=titanic_survival["Age"][ageisnull==False]
print(good_ages)

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
885    39.0
886    27.0
887    19.0
889    26.0
890    32.0
Name: Age, Length: 714, dtype: float64

In [163]:
correct_mean_age=sum(good_ages)/len(good_ages)
print(correct_mean_age)

29.69911764705882

In [164]:
#pandas中直接调.mean()可以直接求均值，自动过滤缺失值

In [165]:
correct_mean_age=titanic_survival["Age"].mean()
print(correct_mean_age)#

29.69911764705882

In [166]:
#求每个class船舱等级的平均价格

In [167]:
passenger_classes = [1,2,3]
fares_by_class = {}
for this_class in passenger_classes:
    pclass_rows = titanic_survival[titanic_survival["Pclass"]== this_class]#先定位到船舱类别，把一等舱数据取到
    pclass_fares = pclass_rows["Fare"]#定位到船票价格那一列
    fare_for_class=pclass_fares.mean()#那一列的船票价格取均值
    fares_by_class[this_class]=fare_for_class
print(fares_by_class)

{1: 84.15468749999992, 2: 20.66218315217391, 3: 13.675550101832997}

In [168]:
#pivot_table数据透视表,计算各个仓位平均获救了多少人

In [169]:
passenger_suvival=titanic_survival.pivot_table(index="Pclass",values="Survived",aggfunc=np.mean)
print(passenger_suvival)

        Survived
Pclass
1       0.629630
2       0.472826
3       0.242363

In [170]:
passenger_age=titanic_survival.pivot_table(index="Pclass",values="Age",aggfunc=np.mean)
print(passenger_age)#计算每个舱位的平均年龄

              Age
Pclass
1       38.233441
2       29.877630
3       25.140620

In [171]:
#计算两个变量值，方便一起看一下关系

In [172]:
port_stats=titanic_survival.pivot_table(index="Embarked",values=["Fare","Survived"],aggfunc=np.sum)
print(port_stats)#计算不同码头的船票总价格和总获救人数

                Fare  Survived
Embarked
C         10072.2962        93
Q          1022.2543        30
S         17439.3988       217

In [173]:
#dropna函数将指定的缺失值丢掉
#specifying axis=1 or axis='columns'willdrop any columns that have null values

In [174]:
drop_na_columns = titanic_survival.dropna(axis=1)
newtable=titanic_survival.dropna(axis=0,subset=["Age","Sex"])#维度为0，在age和sex中看缺失值
print(newtable)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
885          886         0       3
886          887         0       2
887          888         1       1
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
885               Rice, Mrs. William (Margaret Norton)  female  39.0      0
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
885      5            382652  29.1250   NaN        Q
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[714 rows x 12 columns]

In [175]:
#定位到具体值

In [176]:
row_index_83_age=titanic_survival.loc[83,"Age"]
print(row_index_83_age)#第83个（行）样本的年龄是多少
print(titanic_survival.shape)

28.0
(891, 12)

In [177]:
row_index_766_pclass=titanic_survival.loc[766,"Pclass"]
print(row_index_766_pclass)

1

In [178]:
#降序升序

In [179]:
new_titanic_survival=titanic_survival.sort_values("Age",ascending=False)
print(new_titanic_survival[0:10])

     PassengerId  Survived  Pclass                                  Name  \
630          631         1       1  Barkworth, Mr. Algernon Henry Wilson
851          852         0       3                   Svensson, Mr. Johan
493          494         0       1               Artagaveytia, Mr. Ramon
96            97         0       1             Goldschmidt, Mr. George B
116          117         0       3                  Connors, Mr. Patrick
672          673         0       2           Mitchell, Mr. Henry Michael
745          746         0       1          Crosby, Capt. Edward Gifford
33            34         0       2                 Wheadon, Mr. Edward H
54            55         0       1        Ostby, Mr. Engelhart Cornelius
280          281         0       3                      Duane, Mr. Frank

      Sex   Age  SibSp  Parch      Ticket     Fare Cabin Embarked
630  male  80.0      0      0       27042  30.0000   A23        S
851  male  74.0      0      0      347060   7.7750   NaN        S
493  male  71.0      0      0    PC 17609  49.5042   NaN        C
96   male  71.0      0      0    PC 17754  34.6542    A5        C
116  male  70.5      0      0      370369   7.7500   NaN        Q
672  male  70.0      0      0  C.A. 24580  10.5000   NaN        S
745  male  70.0      1      1   WE/P 5735  71.0000   B22        S
33   male  66.0      0      0  C.A. 24579  10.5000   NaN        S
54   male  65.0      0      1      113509  61.9792   B30        C
280  male  65.0      0      0      336439   7.7500   NaN        Q

In [180]:
#重置index值

In [181]:
titanic_reindexed = new_titanic_survival.reset_index(drop=True)#先将原来排过序的值传过来，在resetindex一下，drop将原来的index去掉

In [182]:
print(titanic_reindexed.loc[0:10])

    PassengerId  Survived  Pclass                                  Name   Sex  \
0           631         1       1  Barkworth, Mr. Algernon Henry Wilson  male
1           852         0       3                   Svensson, Mr. Johan  male
2           494         0       1               Artagaveytia, Mr. Ramon  male
3            97         0       1             Goldschmidt, Mr. George B  male
4           117         0       3                  Connors, Mr. Patrick  male
5           673         0       2           Mitchell, Mr. Henry Michael  male
6           746         0       1          Crosby, Capt. Edward Gifford  male
7            34         0       2                 Wheadon, Mr. Edward H  male
8            55         0       1        Ostby, Mr. Engelhart Cornelius  male
9           281         0       3                      Duane, Mr. Frank  male
10          457         0       1             Millet, Mr. Francis Davis  male

     Age  SibSp  Parch      Ticket     Fare Cabin Embarked
0   80.0      0      0       27042  30.0000   A23        S
1   74.0      0      0      347060   7.7750   NaN        S
2   71.0      0      0    PC 17609  49.5042   NaN        C
3   71.0      0      0    PC 17754  34.6542    A5        C
4   70.5      0      0      370369   7.7500   NaN        Q
5   70.0      0      0  C.A. 24580  10.5000   NaN        S
6   70.0      1      1   WE/P 5735  71.0000   B22        S
7   66.0      0      0  C.A. 24579  10.5000   NaN        S
8   65.0      0      1      113509  61.9792   B30        C
9   65.0      0      0      336439   7.7500   NaN        Q
10  65.0      0      0       13509  26.5500   E38        S

In [183]:
#自定义函数,第一百行的东西

In [184]:
def hundredth_row(column):#提取第一百行
    hundredth_item = column.loc[99]
    return hundredth_item

In [185]:
#返回第一百行的每一列的值apply调用自定义函数

In [186]:
hundredth_row=titanic_survival.apply(hundredth_row)
print(hundredth_row)

PassengerId                  100
Survived                       0
Pclass                         2
Name           Kantor, Mr. Sinai
Sex                         male
Age                           34
SibSp                          1
Parch                          0
Ticket                    244367
Fare                          26
Cabin                        NaN
Embarked                       S
dtype: object

In [187]:
#定一个函数计算每一列的缺失值个数

In [188]:
def not_null_count(column):
    column_null = pd.isnull(column)
    null=column[column_null]
    return len(null)

In [189]:
column_null_count = titanic_survival.apply(not_null_count)
print(column_null_count)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [190]:
#使用DataFrame.apply()method去迭代

In [191]:
def which_class(row):
    pclass = row['Pclass']
    if pd.isnull(pclass):
        return "Unknown"
    elif pclass == 1:
        return "First Class"
    elif pclass == 2:
        return "Second Class"
    elif pclass == 3:
        return "Third Class"

classes=titanic_survival.apply(which_class,axis=1)
print(classes)

0       Third Class
1       First Class
2       Third Class
3       First Class
4       Third Class
           ...
886    Second Class
887     First Class
888     Third Class
889     First Class
890     Third Class
Length: 891, dtype: object

In [192]:
#将连续值离散化

In [193]:
def is_minor(row):
    if row["Age"]<18:
        return True
    else:
        return False
    
minors= titanic_survival.apply(is_minor,axis=1)
print(minors)

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888    False
889    False
890    False
Length: 891, dtype: bool

In [194]:
def generate_age_label(row):
    age = row["Age"]
    if pd.isnull(age):
        return"unknown"
    elif age<18:
        return"minor"
    else:
        return"adult"

age_labels = titanic_survival.apply(generate_age_label,axis=1)
print(age_labels)

0        adult
1        adult
2        adult
3        adult
4        adult
        ...
886      adult
887      adult
888    unknown
889      adult
890      adult
Length: 891, dtype: object

In [195]:
#用透视表呈现不同年龄标签的平均获救率

In [196]:
titanic_survival["age_labels"]=age_labels
age_group_survival = titanic_survival.pivot_table(index="age_labels",values="Survived")
print(age_group_survival)

            Survived
age_labels
adult       0.381032
minor       0.539823
unknown     0.293785

In [197]:
#Series(dataframe中的某一行或者某一列)

In [209]:
import pandas as pd
fandango = pd.read_csv('fandango_score_comparison.csv')
series_film = fandango["FILM"]
print(type(series_film))

<class 'pandas.core.series.Series'>

In [210]:
print(series_film[0:5])

0    Avengers: Age of Ultron (2015)
1                 Cinderella (2015)
2                    Ant-Man (2015)
3            Do You Believe? (2015)
4     Hot Tub Time Machine 2 (2015)
Name: FILM, dtype: object

In [211]:
series_rt = fandango["RottenTomatoes"]
print(series_rt[0:5])

0    74
1    85
2    80
3    18
4    14
Name: RottenTomatoes, dtype: int64

In [225]:
from pandas import Series

film_names = series_film.values#series里的值的类型是ndarray
print(type(film_names))

<class 'numpy.ndarray'>

In [226]:
#创建seires，一个电影名字对应电影评分值

In [227]:
rt_scores = series_rt.values
print(rt_scores)

[ 74  85  80  18  14  63  42  86  99  89  84  82  99  51  90   9  46  59
  50  17  79  59  68  60  85  99  92  88  96  92  96  89  92  10  19  11
  52  71  51  60  94  99  97  95  75  50  30  27   9  26  67  32  54   8
  71  39  34  64  12  12  11  46  45  26  26  92  93  60  94  98 100  93
  72  81  61  50  90  27  30  31  55  72  34  20  13  20  81  54  97  93
  78  98  87  96  82  96  99  25  29  57  26  16  62  17  17   7  49  13
  40  67  52  71  96  73  90  83  89  81  80  99  84  84  95  62  45  27
  52  60  92  97  71  54  35   5  31  14  22  77  52  18  98  87  97  97
 100  87]

In [228]:
series_custom = Series(rt_scores,index=film_names)
print(series_custom)

Avengers: Age of Ultron (2015)                74
Cinderella (2015)                             85
Ant-Man (2015)                                80
Do You Believe? (2015)                        18
Hot Tub Time Machine 2 (2015)                 14
                                            ...
Mr. Holmes (2015)                             87
'71 (2015)                                    97
Two Days, One Night (2014)                    97
Gett: The Trial of Viviane Amsalem (2015)    100
Kumiko, The Treasure Hunter (2015)            87
Length: 146, dtype: int64

In [229]:
series_custom[['Minions (2015)','Leviathan (2014)']]

Minions (2015)      54
Leviathan (2014)    99
dtype: int64

In [230]:
fiveten = series_custom[5:10]
print(fiveten)

The Water Diviner (2015)        63
Irrational Man (2015)           42
Top Five (2014)                 86
Shaun the Sheep Movie (2015)    99
Love & Mercy (2015)             89
dtype: int64

In [ ]:
#排序

In [232]:
original_index=series_custom.index.tolist()
print(original_index)

['Avengers: Age of Ultron (2015)', 'Cinderella (2015)', 'Ant-Man (2015)', 'Do You Believe? (2015)', 'Hot Tub Time Machine 2 (2015)', 'The Water Diviner (2015)', 'Irrational Man (2015)', 'Top Five (2014)', 'Shaun the Sheep Movie (2015)', 'Love & Mercy (2015)', 'Far From The Madding Crowd (2015)', 'Black Sea (2015)', 'Leviathan (2014)', 'Unbroken (2014)', 'The Imitation Game (2014)', 'Taken 3 (2015)', 'Ted 2 (2015)', 'Southpaw (2015)', 'Night at the Museum: Secret of the Tomb (2014)', 'Pixels (2015)', 'McFarland, USA (2015)', 'Insidious: Chapter 3 (2015)', 'The Man From U.N.C.L.E. (2015)', 'Run All Night (2015)', 'Trainwreck (2015)', 'Selma (2014)', 'Ex Machina (2015)', 'Still Alice (2015)', 'Wild Tales (2014)', 'The End of the Tour (2015)', 'Red Army (2015)', 'When Marnie Was There (2015)', 'The Hunting Ground (2015)', 'The Boy Next Door (2015)', 'Aloha (2015)', 'The Loft (2015)', '5 Flights Up (2015)', 'Welcome to Me (2015)', 'Saint Laurent (2015)', 'Maps to the Stars (2015)', "I'll See You In My Dreams (2015)", 'Timbuktu (2015)', 'About Elly (2015)', 'The Diary of a Teenage Girl (2015)', 'Kingsman: The Secret Service (2015)', 'Tomorrowland (2015)', 'The Divergent Series: Insurgent (2015)', 'Annie (2014)', 'Fantastic Four (2015)', 'Terminator Genisys (2015)', 'Pitch Perfect 2 (2015)', 'Entourage (2015)', 'The Age of Adaline (2015)', 'Hot Pursuit (2015)', 'The DUFF (2015)', 'Black or White (2015)', 'Project Almanac (2015)', 'Ricki and the Flash (2015)', 'Seventh Son (2015)', 'Mortdecai (2015)', 'Unfinished Business (2015)', 'American Ultra (2015)', 'True Story (2015)', 'Child 44 (2015)', 'Dark Places (2015)', 'Birdman (2014)', 'The Gift (2015)', 'Unfriended (2015)', 'Monkey Kingdom (2015)', 'Mr. Turner (2014)', 'Seymour: An Introduction (2015)', 'The Wrecking Crew (2015)', 'American Sniper (2015)', 'Furious 7 (2015)', 'The Hobbit: The Battle of the Five Armies (2014)', 'San Andreas (2015)', 'Straight Outta Compton (2015)', 'Vacation (2015)', 'Chappie (2015)', 'Poltergeist (2015)', 'Paper Towns (2015)', 'Big Eyes (2014)', 'Blackhat (2015)', 'Self/less (2015)', 'Sinister 2 (2015)', 'Little Boy (2015)', 'Me and Earl and The Dying Girl (2015)', 'Maggie (2015)', 'Mad Max: Fury Road (2015)', 'Spy (2015)', 'The SpongeBob Movie: Sponge Out of Water (2015)', 'Paddington (2015)', 'Dope (2015)', 'What We Do in the Shadows (2015)', 'The Overnight (2015)', 'The Salt of the Earth (2015)', 'Song of the Sea (2014)', 'Fifty Shades of Grey (2015)', 'Get Hard (2015)', 'Focus (2015)', 'Jupiter Ascending (2015)', 'The Gallows (2015)', 'The Second Best Exotic Marigold Hotel (2015)', 'Strange Magic (2015)', 'The Gunman (2015)', 'Hitman: Agent 47 (2015)', 'Cake (2015)', 'The Vatican Tapes (2015)', 'A Little Chaos (2015)', 'The 100-Year-Old Man Who Climbed Out the Window and Disappeared (2015)', 'Escobar: Paradise Lost (2015)', 'Into the Woods (2014)', 'It Follows (2015)', 'Inherent Vice (2014)', 'A Most Violent Year (2014)', "While We're Young (2015)", 'Clouds of Sils Maria (2015)', 'Testament of Youth (2015)', 'Infinitely Polar Bear (2015)', 'Phoenix (2015)', 'The Wolfpack (2015)', 'The Stanford Prison Experiment (2015)', 'Tangerine (2015)', 'Magic Mike XXL (2015)', 'Home (2015)', 'The Wedding Ringer (2015)', 'Woman in Gold (2015)', 'The Last Five Years (2015)', 'Mission: Impossible â€“ Rogue Nation (2015)', 'Amy (2015)', 'Jurassic World (2015)', 'Minions (2015)', 'Max (2015)', 'Paul Blart: Mall Cop 2 (2015)', 'The Longest Ride (2015)', 'The Lazarus Effect (2015)', 'The Woman In Black 2 Angel of Death (2015)', 'Danny Collins (2015)', 'Spare Parts (2015)', 'Serena (2015)', 'Inside Out (2015)', 'Mr. Holmes (2015)', "'71 (2015)", 'Two Days, One Night (2014)', 'Gett: The Trial of Viviane Amsalem (2015)', 'Kumiko, The Treasure Hunter (2015)']

In [236]:
sorted_index=sorted(original_index)
print(sorted_index)
sorted_by_index=series_custom.reindex(sorted_index)#和ndarray中的resetindex一样
print(sorted_by_index)

["'71 (2015)", '5 Flights Up (2015)', 'A Little Chaos (2015)', 'A Most Violent Year (2014)', 'About Elly (2015)', 'Aloha (2015)', 'American Sniper (2015)', 'American Ultra (2015)', 'Amy (2015)', 'Annie (2014)', 'Ant-Man (2015)', 'Avengers: Age of Ultron (2015)', 'Big Eyes (2014)', 'Birdman (2014)', 'Black Sea (2015)', 'Black or White (2015)', 'Blackhat (2015)', 'Cake (2015)', 'Chappie (2015)', 'Child 44 (2015)', 'Cinderella (2015)', 'Clouds of Sils Maria (2015)', 'Danny Collins (2015)', 'Dark Places (2015)', 'Do You Believe? (2015)', 'Dope (2015)', 'Entourage (2015)', 'Escobar: Paradise Lost (2015)', 'Ex Machina (2015)', 'Fantastic Four (2015)', 'Far From The Madding Crowd (2015)', 'Fifty Shades of Grey (2015)', 'Focus (2015)', 'Furious 7 (2015)', 'Get Hard (2015)', 'Gett: The Trial of Viviane Amsalem (2015)', 'Hitman: Agent 47 (2015)', 'Home (2015)', 'Hot Pursuit (2015)', 'Hot Tub Time Machine 2 (2015)', "I'll See You In My Dreams (2015)", 'Infinitely Polar Bear (2015)', 'Inherent Vice (2014)', 'Inside Out (2015)', 'Insidious: Chapter 3 (2015)', 'Into the Woods (2014)', 'Irrational Man (2015)', 'It Follows (2015)', 'Jupiter Ascending (2015)', 'Jurassic World (2015)', 'Kingsman: The Secret Service (2015)', 'Kumiko, The Treasure Hunter (2015)', 'Leviathan (2014)', 'Little Boy (2015)', 'Love & Mercy (2015)', 'Mad Max: Fury Road (2015)', 'Maggie (2015)', 'Magic Mike XXL (2015)', 'Maps to the Stars (2015)', 'Max (2015)', 'McFarland, USA (2015)', 'Me and Earl and The Dying Girl (2015)', 'Minions (2015)', 'Mission: Impossible â€“ Rogue Nation (2015)', 'Monkey Kingdom (2015)', 'Mortdecai (2015)', 'Mr. Holmes (2015)', 'Mr. Turner (2014)', 'Night at the Museum: Secret of the Tomb (2014)', 'Paddington (2015)', 'Paper Towns (2015)', 'Paul Blart: Mall Cop 2 (2015)', 'Phoenix (2015)', 'Pitch Perfect 2 (2015)', 'Pixels (2015)', 'Poltergeist (2015)', 'Project Almanac (2015)', 'Red Army (2015)', 'Ricki and the Flash (2015)', 'Run All Night (2015)', 'Saint Laurent (2015)', 'San Andreas (2015)', 'Self/less (2015)', 'Selma (2014)', 'Serena (2015)', 'Seventh Son (2015)', 'Seymour: An Introduction (2015)', 'Shaun the Sheep Movie (2015)', 'Sinister 2 (2015)', 'Song of the Sea (2014)', 'Southpaw (2015)', 'Spare Parts (2015)', 'Spy (2015)', 'Still Alice (2015)', 'Straight Outta Compton (2015)', 'Strange Magic (2015)', 'Taken 3 (2015)', 'Tangerine (2015)', 'Ted 2 (2015)', 'Terminator Genisys (2015)', 'Testament of Youth (2015)', 'The 100-Year-Old Man Who Climbed Out the Window and Disappeared (2015)', 'The Age of Adaline (2015)', 'The Boy Next Door (2015)', 'The DUFF (2015)', 'The Diary of a Teenage Girl (2015)', 'The Divergent Series: Insurgent (2015)', 'The End of the Tour (2015)', 'The Gallows (2015)', 'The Gift (2015)', 'The Gunman (2015)', 'The Hobbit: The Battle of the Five Armies (2014)', 'The Hunting Ground (2015)', 'The Imitation Game (2014)', 'The Last Five Years (2015)', 'The Lazarus Effect (2015)', 'The Loft (2015)', 'The Longest Ride (2015)', 'The Man From U.N.C.L.E. (2015)', 'The Overnight (2015)', 'The Salt of the Earth (2015)', 'The Second Best Exotic Marigold Hotel (2015)', 'The SpongeBob Movie: Sponge Out of Water (2015)', 'The Stanford Prison Experiment (2015)', 'The Vatican Tapes (2015)', 'The Water Diviner (2015)', 'The Wedding Ringer (2015)', 'The Wolfpack (2015)', 'The Woman In Black 2 Angel of Death (2015)', 'The Wrecking Crew (2015)', 'Timbuktu (2015)', 'Tomorrowland (2015)', 'Top Five (2014)', 'Trainwreck (2015)', 'True Story (2015)', 'Two Days, One Night (2014)', 'Unbroken (2014)', 'Unfinished Business (2015)', 'Unfriended (2015)', 'Vacation (2015)', 'Welcome to Me (2015)', 'What We Do in the Shadows (2015)', 'When Marnie Was There (2015)', "While We're Young (2015)", 'Wild Tales (2014)', 'Woman in Gold (2015)']
'71 (2015)                          97
5 Flights Up (2015)                 52
A Little Chaos (2015)               40
A Most Violent Year (2014)          90
About Elly (2015)                   97
                                    ..
What We Do in the Shadows (2015)    96
When Marnie Was There (2015)        89
While We're Young (2015)            83
Wild Tales (2014)                   96
Woman in Gold (2015)                52
Length: 146, dtype: int64

In [ ]:
#两个series进行想加

In [241]:
import numpy as np
print(series_custom)
print('------------')
print(np.add(series_custom,series_custom))

Avengers: Age of Ultron (2015)                74
Cinderella (2015)                             85
Ant-Man (2015)                                80
Do You Believe? (2015)                        18
Hot Tub Time Machine 2 (2015)                 14
                                            ...
Mr. Holmes (2015)                             87
'71 (2015)                                    97
Two Days, One Night (2014)                    97
Gett: The Trial of Viviane Amsalem (2015)    100
Kumiko, The Treasure Hunter (2015)            87
Length: 146, dtype: int64
------------
Avengers: Age of Ultron (2015)               148
Cinderella (2015)                            170
Ant-Man (2015)                               160
Do You Believe? (2015)                        36
Hot Tub Time Machine 2 (2015)                 28
                                            ...
Mr. Holmes (2015)                            174
'71 (2015)                                   194
Two Days, One Night (2014)                   194
Gett: The Trial of Viviane Amsalem (2015)    200
Kumiko, The Treasure Hunter (2015)           174
Length: 146, dtype: int64

In [ ]:
#apply sin function to each value,最大值

In [244]:
np.sin(series_custom)
np.max(series_custom)

100

In [ ]:
#查询大于50的值

In [247]:
series_custom>50
series_greater_than_50 = series_custom[series_custom>50]
print(series_greater_than_50)

Avengers: Age of Ultron (2015)                74
Cinderella (2015)                             85
Ant-Man (2015)                                80
The Water Diviner (2015)                      63
Top Five (2014)                               86
                                            ...
Mr. Holmes (2015)                             87
'71 (2015)                                    97
Two Days, One Night (2014)                    97
Gett: The Trial of Viviane Amsalem (2015)    100
Kumiko, The Treasure Hunter (2015)            87
Length: 94, dtype: int64

In [248]:
criteria_one = series_custom>50
criteria_two = series_custom<75
both_criteria = series_custom[criteria_one&criteria_two]
print(both_criteria)

Avengers: Age of Ultron (2015)                                            74
The Water Diviner (2015)                                                  63
Unbroken (2014)                                                           51
Southpaw (2015)                                                           59
Insidious: Chapter 3 (2015)                                               59
The Man From U.N.C.L.E. (2015)                                            68
Run All Night (2015)                                                      60
5 Flights Up (2015)                                                       52
Welcome to Me (2015)                                                      71
Saint Laurent (2015)                                                      51
Maps to the Stars (2015)                                                  60
Pitch Perfect 2 (2015)                                                    67
The Age of Adaline (2015)                                                 54
The DUFF (2015)                                                           71
Ricki and the Flash (2015)                                                64
Unfriended (2015)                                                         60
American Sniper (2015)                                                    72
The Hobbit: The Battle of the Five Armies (2014)                          61
Paper Towns (2015)                                                        55
Big Eyes (2014)                                                           72
Maggie (2015)                                                             54
Focus (2015)                                                              57
The Second Best Exotic Marigold Hotel (2015)                              62
The 100-Year-Old Man Who Climbed Out the Window and Disappeared (2015)    67
Escobar: Paradise Lost (2015)                                             52
Into the Woods (2014)                                                     71
Inherent Vice (2014)                                                      73
Magic Mike XXL (2015)                                                     62
Woman in Gold (2015)                                                      52
The Last Five Years (2015)                                                60
Jurassic World (2015)                                                     71
Minions (2015)                                                            54
Spare Parts (2015)                                                        52
dtype: int64

In [ ]:
#计算两个不同媒体的评分平均值根据index=film

In [250]:
rt_critics=Series(fandango['RottenTomatoes'].values,index=fandango['FILM'])
rt_users =Series(fandango['RottenTomatoes_User'].values,index=fandango['FILM'])
rt_mean = (rt_critics + rt_users)/2

print(rt_mean)

FILM
Avengers: Age of Ultron (2015)               80.0
Cinderella (2015)                            82.5
Ant-Man (2015)                               85.0
Do You Believe? (2015)                       51.0
Hot Tub Time Machine 2 (2015)                21.0
                                             ...
Mr. Holmes (2015)                            82.5
'71 (2015)                                   89.5
Two Days, One Night (2014)                   87.5
Gett: The Trial of Viviane Amsalem (2015)    90.5
Kumiko, The Treasure Hunter (2015)           75.0
Length: 146, dtype: float64

In [ ]:
#drop that column from the DataFrame,without the FILM column dropped

In [256]:
import pandas as pd
fandango = pd.read_csv('fandango_score_comparison.csv')
print(type(fandango))
print(fandango.shape)

<class 'pandas.core.frame.DataFrame'>
(146, 22)

In [255]:
fandango_films=fandango.set_index('FILM',drop=False)
print(fandango_films.index)
print(fandango_films.shape)

Index(['Avengers: Age of Ultron (2015)', 'Cinderella (2015)', 'Ant-Man (2015)',
       'Do You Believe? (2015)', 'Hot Tub Time Machine 2 (2015)',
       'The Water Diviner (2015)', 'Irrational Man (2015)', 'Top Five (2014)',
       'Shaun the Sheep Movie (2015)', 'Love & Mercy (2015)',
       ...
       'The Woman In Black 2 Angel of Death (2015)', 'Danny Collins (2015)',
       'Spare Parts (2015)', 'Serena (2015)', 'Inside Out (2015)',
       'Mr. Holmes (2015)', ''71 (2015)', 'Two Days, One Night (2014)',
       'Gett: The Trial of Viviane Amsalem (2015)',
       'Kumiko, The Treasure Hunter (2015)'],
      dtype='object', name='FILM', length=146)
(146, 22)

In [ ]:
#两个string值之间：，表示按照abcdedg..这样的排序进行

In [264]:
fandango_films["Avengers: Age of Ultron (2015)":"Hot Tub Time Machine 2 (2015)"]
fandango_films.loc["Avengers: Age of Ultron (2015)":"Hot Tub Time Machine 2 (2015)"]
fandango_films.loc['Kumiko, The Treasure Hunter (2015)']#查询某一具体的电影

FILM                          Kumiko, The Treasure Hunter (2015)
RottenTomatoes                                                87
RottenTomatoes_User                                           63
Metacritic                                                    68
Metacritic_User                                              6.4
IMDB                                                         6.7
Fandango_Stars                                               3.5
Fandango_Ratingvalue                                         3.5
RT_norm                                                     4.35
RT_user_norm                                                3.15
Metacritic_norm                                              3.4
Metacritic_user_nom                                          3.2
IMDB_norm                                                   3.35
RT_norm_round                                                4.5
RT_user_norm_round                                             3
Metacritic_norm_round                                        3.5
Metacritic_user_norm_round                                     3
IMDB_norm_round                                              3.5
Metacritic_user_vote_count                                    19
IMDB_user_vote_count                                        5289
Fandango_votes                                                41
Fandango_Difference                                            0
Name: Kumiko, The Treasure Hunter (2015), dtype: object

In [266]:
movies = ['Kumiko, The Treasure Hunter (2015)','Do You Believe? (2015)','Ant-Man (2015)']
fandango_films.loc[movies]

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
FILM,,,,,,,,,,,,,,,,,,,,,
"Kumiko, The Treasure Hunter (2015)","Kumiko, The Treasure Hunter (2015)",87,63,68,6.4,6.7,3.5,3.5,4.35,3.15,...,3.35,4.5,3.0,3.5,3.0,3.5,19,5289,41,0.0
Do You Believe? (2015),Do You Believe? (2015),18,84,22,4.7,5.4,5.0,4.5,0.90,4.20,...,2.70,1.0,4.0,1.0,2.5,2.5,31,3136,1793,0.5
Ant-Man (2015),Ant-Man (2015),80,90,64,8.1,7.8,5.0,4.5,4.00,4.50,...,3.90,4.0,4.5,3.0,4.0,4.0,627,103660,12055,0.5

In [ ]:
#类型转换

In [267]:
import numpy as np
types = fandango_films.dtypes
print(types)

FILM                           object
RottenTomatoes                  int64
RottenTomatoes_User             int64
Metacritic                      int64
Metacritic_User               float64
IMDB                          float64
Fandango_Stars                float64
Fandango_Ratingvalue          float64
RT_norm                       float64
RT_user_norm                  float64
Metacritic_norm               float64
Metacritic_user_nom           float64
IMDB_norm                     float64
RT_norm_round                 float64
RT_user_norm_round            float64
Metacritic_norm_round         float64
Metacritic_user_norm_round    float64
IMDB_norm_round               float64
Metacritic_user_vote_count      int64
IMDB_user_vote_count            int64
Fandango_votes                  int64
Fandango_Difference           float64
dtype: object

In [268]:
#过滤数据类型只要float类型
float_columns = types[types.values =='float64'].index

In [269]:
float_df = fandango_films[float_columns]
print(float_df)

                                           Metacritic_User  IMDB  \
FILM
Avengers: Age of Ultron (2015)                         7.1   7.8
Cinderella (2015)                                      7.5   7.1
Ant-Man (2015)                                         8.1   7.8
Do You Believe? (2015)                                 4.7   5.4
Hot Tub Time Machine 2 (2015)                          3.4   5.1
...                                                    ...   ...
Mr. Holmes (2015)                                      7.9   7.4
'71 (2015)                                             7.5   7.2
Two Days, One Night (2014)                             8.8   7.4
Gett: The Trial of Viviane Amsalem (2015)              7.3   7.8
Kumiko, The Treasure Hunter (2015)                     6.4   6.7

                                           Fandango_Stars  \
FILM
Avengers: Age of Ultron (2015)                        5.0
Cinderella (2015)                                     5.0
Ant-Man (2015)                                        5.0
Do You Believe? (2015)                                5.0
Hot Tub Time Machine 2 (2015)                         3.5
...                                                   ...
Mr. Holmes (2015)                                     4.0
'71 (2015)                                            3.5
Two Days, One Night (2014)                            3.5
Gett: The Trial of Viviane Amsalem (2015)             3.5
Kumiko, The Treasure Hunter (2015)                    3.5

                                           Fandango_Ratingvalue  RT_norm  \
FILM
Avengers: Age of Ultron (2015)                              4.5     3.70
Cinderella (2015)                                           4.5     4.25
Ant-Man (2015)                                              4.5     4.00
Do You Believe? (2015)                                      4.5     0.90
Hot Tub Time Machine 2 (2015)                               3.0     0.70
...                                                         ...      ...
Mr. Holmes (2015)                                           4.0     4.35
'71 (2015)                                                  3.5     4.85
Two Days, One Night (2014)                                  3.5     4.85
Gett: The Trial of Viviane Amsalem (2015)                   3.5     5.00
Kumiko, The Treasure Hunter (2015)                          3.5     4.35

                                           RT_user_norm  Metacritic_norm  \
FILM
Avengers: Age of Ultron (2015)                     4.30             3.30
Cinderella (2015)                                  4.00             3.35
Ant-Man (2015)                                     4.50             3.20
Do You Believe? (2015)                             4.20             1.10
Hot Tub Time Machine 2 (2015)                      1.40             1.45
...                                                 ...              ...
Mr. Holmes (2015)                                  3.90             3.35
'71 (2015)                                         4.10             4.15
Two Days, One Night (2014)                         3.90             4.45
Gett: The Trial of Viviane Amsalem (2015)          4.05             4.50
Kumiko, The Treasure Hunter (2015)                 3.15             3.40

                                           Metacritic_user_nom  IMDB_norm  \
FILM
Avengers: Age of Ultron (2015)                            3.55       3.90
Cinderella (2015)                                         3.75       3.55
Ant-Man (2015)                                            4.05       3.90
Do You Believe? (2015)                                    2.35       2.70
Hot Tub Time Machine 2 (2015)                             1.70       2.55
...                                                        ...        ...
Mr. Holmes (2015)                                         3.95       3.70
'71 (2015)                                                3.75       3.60
Two Days, One Night (2014)                                4.40       3.70
Gett: The Trial of Viviane Amsalem (2015)                 3.65       3.90
Kumiko, The Treasure Hunter (2015)                        3.20       3.35

                                           RT_norm_round  RT_user_norm_round  \
FILM
Avengers: Age of Ultron (2015)                       3.5                 4.5
Cinderella (2015)                                    4.5                 4.0
Ant-Man (2015)                                       4.0                 4.5
Do You Believe? (2015)                               1.0                 4.0
Hot Tub Time Machine 2 (2015)                        0.5                 1.5
...                                                  ...                 ...
Mr. Holmes (2015)                                    4.5                 4.0
'71 (2015)                                           5.0                 4.0
Two Days, One Night (2014)                           5.0                 4.0
Gett: The Trial of Viviane Amsalem (2015)            5.0                 4.0
Kumiko, The Treasure Hunter (2015)                   4.5                 3.0

                                           Metacritic_norm_round  \
FILM
Avengers: Age of Ultron (2015)                               3.5
Cinderella (2015)                                            3.5
Ant-Man (2015)                                               3.0
Do You Believe? (2015)                                       1.0
Hot Tub Time Machine 2 (2015)                                1.5
...                                                          ...
Mr. Holmes (2015)                                            3.5
'71 (2015)                                                   4.0
Two Days, One Night (2014)                                   4.5
Gett: The Trial of Viviane Amsalem (2015)                    4.5
Kumiko, The Treasure Hunter (2015)                           3.5

                                           Metacritic_user_norm_round  \
FILM
Avengers: Age of Ultron (2015)                                    3.5
Cinderella (2015)                                                 4.0
Ant-Man (2015)                                                    4.0
Do You Believe? (2015)                                            2.5
Hot Tub Time Machine 2 (2015)                                     1.5
...                                                               ...
Mr. Holmes (2015)                                                 4.0
'71 (2015)                                                        4.0
Two Days, One Night (2014)                                        4.5
Gett: The Trial of Viviane Amsalem (2015)                         3.5
Kumiko, The Treasure Hunter (2015)                                3.0

                                           IMDB_norm_round  \
FILM
Avengers: Age of Ultron (2015)                         4.0
Cinderella (2015)                                      3.5
Ant-Man (2015)                                         4.0
Do You Believe? (2015)                                 2.5
Hot Tub Time Machine 2 (2015)                          2.5
...                                                    ...
Mr. Holmes (2015)                                      3.5
'71 (2015)                                             3.5
Two Days, One Night (2014)                             3.5
Gett: The Trial of Viviane Amsalem (2015)              4.0
Kumiko, The Treasure Hunter (2015)                     3.5

                                           Fandango_Difference
FILM
Avengers: Age of Ultron (2015)                             0.5
Cinderella (2015)                                          0.5
Ant-Man (2015)                                             0.5
Do You Believe? (2015)                                     0.5
Hot Tub Time Machine 2 (2015)                              0.5
...                                                        ...
Mr. Holmes (2015)                                          0.0
'71 (2015)                                                 0.0
Two Days, One Night (2014)                                 0.0
Gett: The Trial of Viviane Amsalem (2015)                  0.0
Kumiko, The Treasure Hunter (2015)                         0.0

[146 rows x 15 columns]

In [270]:
deviations = float_df.apply(lambda x:np.std(x))
print(deviations)

Metacritic_User               1.505529
IMDB                          0.955447
Fandango_Stars                0.538532
Fandango_Ratingvalue          0.501106
RT_norm                       1.503265
RT_user_norm                  0.997787
Metacritic_norm               0.972522
Metacritic_user_nom           0.752765
IMDB_norm                     0.477723
RT_norm_round                 1.509404
RT_user_norm_round            1.003559
Metacritic_norm_round         0.987561
Metacritic_user_norm_round    0.785412
IMDB_norm_round               0.501043
Fandango_Difference           0.152141
dtype: float64

In [ ]:
#lambda计算标准差

In [274]:
import numpy as np
types = fandango_films.dtypes
print(types)
float_columns = types[types.values == 'float64'].index
float_df = fandango_films[float_columns]
print(float_df)
deviations = float_df.apply(lambda x:np.std(x))
print(deviations)

FILM                           object
RottenTomatoes                  int64
RottenTomatoes_User             int64
Metacritic                      int64
Metacritic_User               float64
IMDB                          float64
Fandango_Stars                float64
Fandango_Ratingvalue          float64
RT_norm                       float64
RT_user_norm                  float64
Metacritic_norm               float64
Metacritic_user_nom           float64
IMDB_norm                     float64
RT_norm_round                 float64
RT_user_norm_round            float64
Metacritic_norm_round         float64
Metacritic_user_norm_round    float64
IMDB_norm_round               float64
Metacritic_user_vote_count      int64
IMDB_user_vote_count            int64
Fandango_votes                  int64
Fandango_Difference           float64
dtype: object
                                           Metacritic_User  IMDB  \
FILM
Avengers: Age of Ultron (2015)                         7.1   7.8
Cinderella (2015)                                      7.5   7.1
Ant-Man (2015)                                         8.1   7.8
Do You Believe? (2015)                                 4.7   5.4
Hot Tub Time Machine 2 (2015)                          3.4   5.1
...                                                    ...   ...
Mr. Holmes (2015)                                      7.9   7.4
'71 (2015)                                             7.5   7.2
Two Days, One Night (2014)                             8.8   7.4
Gett: The Trial of Viviane Amsalem (2015)              7.3   7.8
Kumiko, The Treasure Hunter (2015)                     6.4   6.7

                                           Fandango_Stars  \
FILM
Avengers: Age of Ultron (2015)                        5.0
Cinderella (2015)                                     5.0
Ant-Man (2015)                                        5.0
Do You Believe? (2015)                                5.0
Hot Tub Time Machine 2 (2015)                         3.5
...                                                   ...
Mr. Holmes (2015)                                     4.0
'71 (2015)                                            3.5
Two Days, One Night (2014)                            3.5
Gett: The Trial of Viviane Amsalem (2015)             3.5
Kumiko, The Treasure Hunter (2015)                    3.5

                                           Fandango_Ratingvalue  RT_norm  \
FILM
Avengers: Age of Ultron (2015)                              4.5     3.70
Cinderella (2015)                                           4.5     4.25
Ant-Man (2015)                                              4.5     4.00
Do You Believe? (2015)                                      4.5     0.90
Hot Tub Time Machine 2 (2015)                               3.0     0.70
...                                                         ...      ...
Mr. Holmes (2015)                                           4.0     4.35
'71 (2015)                                                  3.5     4.85
Two Days, One Night (2014)                                  3.5     4.85
Gett: The Trial of Viviane Amsalem (2015)                   3.5     5.00
Kumiko, The Treasure Hunter (2015)                          3.5     4.35

                                           RT_user_norm  Metacritic_norm  \
FILM
Avengers: Age of Ultron (2015)                     4.30             3.30
Cinderella (2015)                                  4.00             3.35
Ant-Man (2015)                                     4.50             3.20
Do You Believe? (2015)                             4.20             1.10
Hot Tub Time Machine 2 (2015)                      1.40             1.45
...                                                 ...              ...
Mr. Holmes (2015)                                  3.90             3.35
'71 (2015)                                         4.10             4.15
Two Days, One Night (2014)                         3.90             4.45
Gett: The Trial of Viviane Amsalem (2015)          4.05             4.50
Kumiko, The Treasure Hunter (2015)                 3.15             3.40

                                           Metacritic_user_nom  IMDB_norm  \
FILM
Avengers: Age of Ultron (2015)                            3.55       3.90
Cinderella (2015)                                         3.75       3.55
Ant-Man (2015)                                            4.05       3.90
Do You Believe? (2015)                                    2.35       2.70
Hot Tub Time Machine 2 (2015)                             1.70       2.55
...                                                        ...        ...
Mr. Holmes (2015)                                         3.95       3.70
'71 (2015)                                                3.75       3.60
Two Days, One Night (2014)                                4.40       3.70
Gett: The Trial of Viviane Amsalem (2015)                 3.65       3.90
Kumiko, The Treasure Hunter (2015)                        3.20       3.35

                                           RT_norm_round  RT_user_norm_round  \
FILM
Avengers: Age of Ultron (2015)                       3.5                 4.5
Cinderella (2015)                                    4.5                 4.0
Ant-Man (2015)                                       4.0                 4.5
Do You Believe? (2015)                               1.0                 4.0
Hot Tub Time Machine 2 (2015)                        0.5                 1.5
...                                                  ...                 ...
Mr. Holmes (2015)                                    4.5                 4.0
'71 (2015)                                           5.0                 4.0
Two Days, One Night (2014)                           5.0                 4.0
Gett: The Trial of Viviane Amsalem (2015)            5.0                 4.0
Kumiko, The Treasure Hunter (2015)                   4.5                 3.0

                                           Metacritic_norm_round  \
FILM
Avengers: Age of Ultron (2015)                               3.5
Cinderella (2015)                                            3.5
Ant-Man (2015)                                               3.0
Do You Believe? (2015)                                       1.0
Hot Tub Time Machine 2 (2015)                                1.5
...                                                          ...
Mr. Holmes (2015)                                            3.5
'71 (2015)                                                   4.0
Two Days, One Night (2014)                                   4.5
Gett: The Trial of Viviane Amsalem (2015)                    4.5
Kumiko, The Treasure Hunter (2015)                           3.5

                                           Metacritic_user_norm_round  \
FILM
Avengers: Age of Ultron (2015)                                    3.5
Cinderella (2015)                                                 4.0
Ant-Man (2015)                                                    4.0
Do You Believe? (2015)                                            2.5
Hot Tub Time Machine 2 (2015)                                     1.5
...                                                               ...
Mr. Holmes (2015)                                                 4.0
'71 (2015)                                                        4.0
Two Days, One Night (2014)                                        4.5
Gett: The Trial of Viviane Amsalem (2015)                         3.5
Kumiko, The Treasure Hunter (2015)                                3.0

                                           IMDB_norm_round  \
FILM
Avengers: Age of Ultron (2015)                         4.0
Cinderella (2015)                                      3.5
Ant-Man (2015)                                         4.0
Do You Believe? (2015)                                 2.5
Hot Tub Time Machine 2 (2015)                          2.5
...                                                    ...
Mr. Holmes (2015)                                      3.5
'71 (2015)                                             3.5
Two Days, One Night (2014)                             3.5
Gett: The Trial of Viviane Amsalem (2015)              4.0
Kumiko, The Treasure Hunter (2015)                     3.5

                                           Fandango_Difference
FILM
Avengers: Age of Ultron (2015)                             0.5
Cinderella (2015)                                          0.5
Ant-Man (2015)                                             0.5
Do You Believe? (2015)                                     0.5
Hot Tub Time Machine 2 (2015)                              0.5
...                                                        ...
Mr. Holmes (2015)                                          0.0
'71 (2015)                                                 0.0
Two Days, One Night (2014)                                 0.0
Gett: The Trial of Viviane Amsalem (2015)                  0.0
Kumiko, The Treasure Hunter (2015)                         0.0

[146 rows x 15 columns]
Metacritic_User               1.505529
IMDB                          0.955447
Fandango_Stars                0.538532
Fandango_Ratingvalue          0.501106
RT_norm                       1.503265
RT_user_norm                  0.997787
Metacritic_norm               0.972522
Metacritic_user_nom           0.752765
IMDB_norm                     0.477723
RT_norm_round                 1.509404
RT_user_norm_round            1.003559
Metacritic_norm_round         0.987561
Metacritic_user_norm_round    0.785412
IMDB_norm_round               0.501043
Fandango_Difference           0.152141
dtype: float64

In [ ]:
#读取两列，对这两个列做标准差

In [275]:
rt_mt_user = float_df[['RT_user_norm','Metacritic_user_nom']]
rt_mt_user.apply(lambda x:np.std(x),axis=1)

FILM
Avengers: Age of Ultron (2015)               0.375
Cinderella (2015)                            0.125
Ant-Man (2015)                               0.225
Do You Believe? (2015)                       0.925
Hot Tub Time Machine 2 (2015)                0.150
                                             ...
Mr. Holmes (2015)                            0.025
'71 (2015)                                   0.175
Two Days, One Night (2014)                   0.250
Gett: The Trial of Viviane Amsalem (2015)    0.200
Kumiko, The Treasure Hunter (2015)           0.025
Length: 146, dtype: float64